.card {
	display: flex;
    flex-direction: column;
    border-bottom: 2px solid #ece7e7;
    border-right: 2px solid #ece7e7;
    height: 200px;
    padding: 10px;
}

.storyPoint {
    text-align: right;
    margin-top: auto;
    font-size: 20px;
}

.attachment {
    display: flex;
}

.attachment-name {
    white-space: nowrap;
    display: block;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
}