.kanban {
	display: flex;
}

.modal-form {
	display: flex;
	flex-direction: column;
}

input[type="text"], textarea {
    margin-bottom: 25px !important;
}

textarea {
	height: 200px;
}

.toolbar {
	width: 250px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}